@using Newtonsoft.Json;
@using Ioc;
@using Entities;
@{
    Layout = "~/Layouts/_StartLayout.cshtml";
    Page.Title = "Result";

    var testLogic = DependencyResolver.TestLogic;
    var questions = testLogic.GetTestById(1).Questions;
    int[] correctAnswers = new int[questions.Count()];

    string answers = null;
    int score = 0;

    if (IsAjax)
    {
        answers = Request["answers"];
            for (int i = 0; i < correctAnswers.Length; i++)
            {
                if (correctAnswers[i] == Char.GetNumericValue(answers[i]))
                {
                    score++;
                }
            }
    }

}


<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="margin-top: 100px">
        Result:

        @score

    </div>


    <script src="~/MyScripts/timer.js"></script>
</body>
</html>
