<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        @if (User.Identity.Name != null && User.Identity.Name.Trim() != "")
        {
            <a class="navbar-brand" href="#">Здравствуйте, @User.Identity.Name</a>
        }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                @if (User.Identity.Name != null && User.Identity.Name.Trim() != "")
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">Моя статистика</a>
                    </li>
                }


                <li class="nav-item">
                    <a class="nav-link" href="#">Тесты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меню администратора
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Посмотреть статистику пользователей</a>
                        <a class="dropdown-item" href="#">Добавить тест</a>
                        <a class="dropdown-item" href="#">Обновить тест</a>
                        <a class="dropdown-item" href="#">Удалить тест</a>
                        <a class="dropdown-item" href="#">Удалить пользователя</a>
                        <a class="dropdown-item" href="#">Присвоить пользователю роль</a>
                    </div>
                </li>

                @if (User.Identity.Name != null && User.Identity.Name.Trim() != "")
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Pages/logout.cshtml">Выйти из аккаунта <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Pages/login.cshtml">Войти в аккаунт <span class="sr-only">(current)</span></a>
                    </li>
                }

            </ul>
        </div>
    </nav>

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
            margin-top: 0;
        }
    </style>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderBody()
</body>
</html>
