@using Entities;
@using Ioc;
@{
    Layout = "~/Layouts/_StartLayout.cshtml";
    Page.Title = "Entry test";

    var userLogic = DependencyResolver.UserLogic;
    var testLogic = DependencyResolver.TestLogic;
    var questionLogic = DependencyResolver.QuestionLogic;
    int counter = 1;
    string answerText = null;


}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="alert alert-info" role="alert" style="margin-top: 100px">
        Оставшееся время: <p id="timer">600</p>
    </div>

    <form style="margin-top: 100px">
        <fieldset>
            <legend>For the questions below, please choose the best option to complete the sentence or conversation.</legend>

            @foreach (var question in testLogic.GetTestById(1).Questions)
            {
                <p>@counter. @question.Text</p>
                counter++;


                <ul>
                    @foreach (var answer in question.Answers)
                    {
                    <li><input type="radio" name=@question.Text value=@answerText />@answer</li>
                    }
                </ul>    
            }


        </fieldset>
    </form>


    <script src="~/MyScripts/timer.js"></script>
</body>
</html>
